<!DOCTYPE html>
<html>
<head>
	<title>Employee Service</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="employeeApplication.js"></script>
	<meta charset="utf8">
</head>
<body ng-app="EmployeeApplication">
	<div class="container" ng-controller="EmployeeController">
		<div class="row" ng-show="showEmployees"> 
			<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
				<table class="table text-center table-striped table-bordered table-hover">
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">Name</th>
						<th class="text-center">Department</th>
						<th class="text-center">Personal Identifier</th>
						<th class="text-center">Document Type</th>
						<th class="text-center">Projects</th>
						<th class="text-center">Options</th>
					</tr>
					<tr ng-repeat="employee in employees">
						<td>{{employee.id}}</td>
						<td>{{employee.name}}</td>
						<td>{{employee.department.departmentName}}</td>
						<td>{{employee.social_id.documentIdentifier}}</td>
						<td>{{employee.social_id.documentType}}</td>
						<td><span ng-repeat="project in employee.projects">{{project.projectName}} </span></td>
						<td>
							<button class="btn btn-primary" ng-click="deleteEmployee(employee)">Delete</button>
							<button class="btn btn-primary" ng-click="updateEmployee(employee)">Update</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row" ng-show="showEmployees">
			<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
				<button class="btn btn-primary" ng-click="insertEmployee(employee)">Insert</button>
			</div>
		</div>
		<div class="row" ng-hide="showEmployees">
			<div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						 <label>Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<label>Department</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<label>Document Type</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<label>Personal Identifier</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<label>Projects: </label>
					</div>
				</div>
			</div>
			<div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						 <input type="text" ng-model="employee.name">
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<input type="text" ng-model="employee.department.departmentName">
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<input type="text" ng-model="employee.social_id.documentType">
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<input type="text" ng-model="employee.social_id.documentIdentifier">
					</div>
				</div>
				<div class="row">
					<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
						<label><span ng-repeat="project in employee.projects">{{project.projectName}} </span></label>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-hide="showEmployees">
			<div class="col-sx-4 col-sm-4 col-md-4 col-lg-4" ng-show="employee.id == null">
				<button class="btn btn-primary" ng-click="save()">Save</button>
			</div>
			<div class="col-sx-4 col-sm-4 col-md-4 col-lg-4" ng-show="employee.id != null">
				<button class="btn btn-primary" ng-click="modify()">Modify</button>
			</div>
			<div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
				<button class="btn btn-primary" ng-click="back()">Back</button>
			</div>
		</div>
	</div>
</body>
</html>
